.container {
  max-width: var(--wp--style--global--content-size);
  margin: 0 auto;
  padding: 0 15px
}
.grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr
}
.flex {
  display: flex
}
.flex.wrap {
  flex-wrap: wrap
}
.content-blocks > :not(.alignfull) {
  width: 100%;
  max-width: var(--wp--style--global--content-size);
  margin-left: auto;
  margin-right: auto
}
.content-blocks > :not(.alignfull).alignwide {
  max-width: var(--wp--style--global--wide-size)
}
body .editor-styles-wrapper .acf-block-preview .button,
body .editor-styles-wrapper .edit-post-visual-editor .button .button,
body .editor-styles-wrapper .gform_wrapper.gravity-theme form .gform_footer button,
body .editor-styles-wrapper .mce-content-body .button .button,
body .editor-styles-wrapper .wp-block-button .wp-block-button__link,
body .editor-styles-wrapper .wp-block-button__link .button,
body .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce .button .button,
body .editor-styles-wrapper .wp-block.editor-block .button .button,
body .wp-block-button .wp-block-button__link {
  transition: .6s cubic-bezier(.23,1,.32,1);
  border: 2px solid transparent;
  cursor: pointer;
  display: inline-block;
  padding: 10px 40px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: baseline;
  font-size: 1.125rem;
  line-height: 1.2;
  text-decoration: none;
  -webkit-appearance: none
}
body .buttons-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap
}
body .buttons-wrap .button {
  margin-left: 10px;
  margin-right: 10px
}
body .button-wrap {
  padding-top: 30px
}
body .wp-block-button .wp-block-button__link {
  background-color: #fff;
  color: #000;
  border-color: #000
}
body .wp-block-button .wp-block-button__link:active,
body .wp-block-button .wp-block-button__link:focus,
body .wp-block-button .wp-block-button__link:hover {
  color: #fff;
  background-color: #000
}
body .social-icons ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex
}
body .social-icons ul li:not(:last-child) {
  margin-right: 20px
}
body .social-icons ul li a {
  transition: .6s cubic-bezier(.23,1,.32,1);
  font-size: 1.25rem
}
body .editor-styles-wrapper {
  font-family: var(--wp--preset--font-family--body)
}
body .editor-styles-wrapper .h1,
body .editor-styles-wrapper .preset1,
body .editor-styles-wrapper h1 {
  font-size: 4.375rem;
  line-height: 110%;
  font-weight: 600
}
body .editor-styles-wrapper .h2,
body .editor-styles-wrapper .preset2,
body .editor-styles-wrapper h2 {
  font-size: 3.125rem;
  line-height: 125%;
  font-weight: 500
}
body .editor-styles-wrapper .h3,
body .editor-styles-wrapper .preset3,
body .editor-styles-wrapper h3 {
  font-size: 2.5rem;
  line-height: 130%;
  font-weight: 600
}
body .editor-styles-wrapper .h4,
body .editor-styles-wrapper .preset4,
body .editor-styles-wrapper h4 {
  font-size: 1.875rem;
  line-height: 130%
}
body .editor-styles-wrapper .h5,
body .editor-styles-wrapper .preset5,
body .editor-styles-wrapper h5 {
  font-size: 1.5rem;
  line-height: 140%
}
body .editor-styles-wrapper .h6,
body .editor-styles-wrapper .preset6,
body .editor-styles-wrapper h6 {
  font-size: 1.25rem;
  line-height: 150%
}
body .editor-styles-wrapper .gform_confirmation_wrapper .gform_confirmation_message,
body .editor-styles-wrapper li,
body .editor-styles-wrapper p {
  font-size: 1.125rem;
  line-height: 165%
}
body .editor-styles-wrapper body {
  color: var(--wp--preset--color--black)
}
body .editor-styles-wrapper li,
body .editor-styles-wrapper p {
  margin-bottom: 20px
}
body .editor-styles-wrapper blockquote {
  border-top: 2px solid var(--wp--preset--color--black);
  border-bottom: 2px solid var(--wp--preset--color--black);
  position: relative
}
body .editor-styles-wrapper blockquote:before {
  content: "“";
  display: block;
  margin-bottom: 25px
}
body .editor-styles-wrapper blockquote p:last-of-type {
  margin-bottom: 0
}
body .editor-styles-wrapper body:not(.wp-admin) {
  font-family: var(--wp--preset--font-family--body)
}
body .editor-styles-wrapper main a {
  transition: .6s cubic-bezier(.23,1,.32,1);
  color: red
}
body .editor-styles-wrapper main a:active,
body .editor-styles-wrapper main a:focus,
body .editor-styles-wrapper main a:hover {
  color: purple
}
body .editor-styles-wrapper h1,
body .editor-styles-wrapper h2,
body .editor-styles-wrapper h3,
body .editor-styles-wrapper h4,
body .editor-styles-wrapper h5,
body .editor-styles-wrapper h6 {
  margin: 0 0 15px
}
body .editor-styles-wrapper form input[type],
body .editor-styles-wrapper form select,
body .editor-styles-wrapper form textarea {
  transition: .3s cubic-bezier(.23,1,.32,1);
  border-color: #000;
  border-radius: 0;
  box-shadow: none;
  display: inline-block;
  border-style: solid;
  padding: 10px 15px;
  font-family: inherit;
  line-height: normal;
  color: #000;
  border-width: 2px
}
body .editor-styles-wrapper form input[type]:active,
body .editor-styles-wrapper form input[type]:focus,
body .editor-styles-wrapper form input[type]:hover,
body .editor-styles-wrapper form select:active,
body .editor-styles-wrapper form select:focus,
body .editor-styles-wrapper form select:hover,
body .editor-styles-wrapper form textarea:active,
body .editor-styles-wrapper form textarea:focus,
body .editor-styles-wrapper form textarea:hover {
  border-color: green
}
body .editor-styles-wrapper form input[type]::-moz-placeholder,
body .editor-styles-wrapper form select::-moz-placeholder,
body .editor-styles-wrapper form textarea::-moz-placeholder {
  color: #000
}
body .editor-styles-wrapper form input[type]:-ms-input-placeholder,
body .editor-styles-wrapper form select:-ms-input-placeholder,
body .editor-styles-wrapper form textarea:-ms-input-placeholder {
  color: #000
}
body .editor-styles-wrapper form input[type]::placeholder,
body .editor-styles-wrapper form select::placeholder,
body .editor-styles-wrapper form textarea::placeholder {
  color: #000
}
body .editor-styles-wrapper form input[type]:focus,
body .editor-styles-wrapper form select:focus,
body .editor-styles-wrapper form textarea:focus {
  border-color: green
}
body .editor-styles-wrapper .gform_wrapper.gravity-theme {
  margin: 0
}
body .editor-styles-wrapper .gform_wrapper.gravity-theme .gform_heading {
  display: none
}
body .editor-styles-wrapper .gform_wrapper.gravity-theme form .gform-body {
  padding-top: 25px;
  padding-bottom: 25px
}
body .editor-styles-wrapper .gform_wrapper.gravity-theme form .gform-body .gform_fields {
  grid-row-gap: 25px
}
body .editor-styles-wrapper .gform_wrapper.gravity-theme form .gform-body .gfield_label {
  font-weight: 400;
  display: block;
  margin-bottom: 6px;
  font-size: .875rem
}
body .editor-styles-wrapper .gform_wrapper.gravity-theme form .gform-body .gfield_label .gfield_required {
  color: red
}
body .editor-styles-wrapper .gform_wrapper.gravity-theme form .gform-body .ginput_container_address label {
  padding-top: 15px
}
body .editor-styles-wrapper .gform_wrapper.gravity-theme form .gform-body .gfield_checkbox {
  margin-top: 10px
}
body .editor-styles-wrapper .gform_wrapper.gravity-theme form .gform-body .gchoice {
  margin-bottom: 10px
}
body .editor-styles-wrapper .gform_wrapper.gravity-theme form .gform-body .gchoice input,
body .editor-styles-wrapper .gform_wrapper.gravity-theme form .gform-body .gfield_checkbox input {
  margin-right: 7px
}
body .editor-styles-wrapper .gform_wrapper.gravity-theme form .gform-body .ginput_container_consent {
  display: flex;
  align-items: center
}
body .editor-styles-wrapper .gform_wrapper.gravity-theme form .gform-body .ginput_container_consent input {
  margin-right: 10px
}
body .editor-styles-wrapper .gform_wrapper.gravity-theme form .gform_footer {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px
}
body .editor-styles-wrapper .gform_wrapper.gravity-theme form .gform_footer button {
  background-color: #fff;
  color: #000;
  border-color: #000;
  margin: 0
}
body .editor-styles-wrapper .gform_wrapper.gravity-theme form .gform_footer button:active,
body .editor-styles-wrapper .gform_wrapper.gravity-theme form .gform_footer button:focus,
body .editor-styles-wrapper .gform_wrapper.gravity-theme form .gform_footer button:hover {
  color: #fff;
  background-color: #000
}
body .editor-styles-wrapper .gform_wrapper.gform_validation_error .gform_validation_errors {
  margin-bottom: 25px;
  border-color: red
}
body .editor-styles-wrapper .gform_wrapper.gform_validation_error .gform_validation_errors h2.gform_submission_error {
  font-size: 18px;
  color: red
}
body .editor-styles-wrapper .gform_wrapper.gform_validation_error .gfield.gfield_error input,
body .editor-styles-wrapper .gform_wrapper.gform_validation_error .gfield.gfield_error label,
body .editor-styles-wrapper .gform_wrapper.gform_validation_error .gfield.gfield_error legend,
body .editor-styles-wrapper .gform_wrapper.gform_validation_error .gfield.gfield_error select,
body .editor-styles-wrapper .gform_wrapper.gform_validation_error .gfield.gfield_error textarea {
  color: red;
  border-color: red
}
body .editor-styles-wrapper .gform_wrapper.gform_validation_error .gfield.gfield_error input::-moz-placeholder,
body .editor-styles-wrapper .gform_wrapper.gform_validation_error .gfield.gfield_error label::-moz-placeholder,
body .editor-styles-wrapper .gform_wrapper.gform_validation_error .gfield.gfield_error legend::-moz-placeholder,
body .editor-styles-wrapper .gform_wrapper.gform_validation_error .gfield.gfield_error select::-moz-placeholder,
body .editor-styles-wrapper .gform_wrapper.gform_validation_error .gfield.gfield_error textarea::-moz-placeholder {
  color: red
}
body .editor-styles-wrapper .gform_wrapper.gform_validation_error .gfield.gfield_error input:-ms-input-placeholder,
body .editor-styles-wrapper .gform_wrapper.gform_validation_error .gfield.gfield_error label:-ms-input-placeholder,
body .editor-styles-wrapper .gform_wrapper.gform_validation_error .gfield.gfield_error legend:-ms-input-placeholder,
body .editor-styles-wrapper .gform_wrapper.gform_validation_error .gfield.gfield_error select:-ms-input-placeholder,
body .editor-styles-wrapper .gform_wrapper.gform_validation_error .gfield.gfield_error textarea:-ms-input-placeholder {
  color: red
}
body .editor-styles-wrapper .gform_wrapper.gform_validation_error .gfield.gfield_error input::placeholder,
body .editor-styles-wrapper .gform_wrapper.gform_validation_error .gfield.gfield_error label::placeholder,
body .editor-styles-wrapper .gform_wrapper.gform_validation_error .gfield.gfield_error legend::placeholder,
body .editor-styles-wrapper .gform_wrapper.gform_validation_error .gfield.gfield_error select::placeholder,
body .editor-styles-wrapper .gform_wrapper.gform_validation_error .gfield.gfield_error textarea::placeholder {
  color: red
}
body .editor-styles-wrapper .gform_wrapper.gform_validation_error .gfield.gfield_error .gfield_description,
body .editor-styles-wrapper .gform_wrapper.gform_validation_error .validation_message {
  display: none
}
body .editor-styles-wrapper h1.wp-block-post-title {
  font-size: 40px
}
body .editor-styles-wrapper .acf-block-preview .button,
body .editor-styles-wrapper .edit-post-visual-editor .button .button,
body .editor-styles-wrapper .mce-content-body .button .button,
body .editor-styles-wrapper .wp-block-button__link .button,
body .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce .button .button,
body .editor-styles-wrapper .wp-block.editor-block .button .button {
  background-color: #fff;
  color: #000;
  border-color: #000
}
body .editor-styles-wrapper .acf-block-preview .button:active,
body .editor-styles-wrapper .acf-block-preview .button:focus,
body .editor-styles-wrapper .acf-block-preview .button:hover,
body .editor-styles-wrapper .edit-post-visual-editor .button .button:active,
body .editor-styles-wrapper .edit-post-visual-editor .button .button:focus,
body .editor-styles-wrapper .edit-post-visual-editor .button .button:hover,
body .editor-styles-wrapper .mce-content-body .button .button:active,
body .editor-styles-wrapper .mce-content-body .button .button:focus,
body .editor-styles-wrapper .mce-content-body .button .button:hover,
body .editor-styles-wrapper .wp-block-button__link .button:active,
body .editor-styles-wrapper .wp-block-button__link .button:focus,
body .editor-styles-wrapper .wp-block-button__link .button:hover,
body .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce .button .button:active,
body .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce .button .button:focus,
body .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce .button .button:hover,
body .editor-styles-wrapper .wp-block.editor-block .button .button:active,
body .editor-styles-wrapper .wp-block.editor-block .button .button:focus,
body .editor-styles-wrapper .wp-block.editor-block .button .button:hover {
  color: #fff;
  background-color: #000
}
body .editor-styles-wrapper .wp-block-button .wp-block-button__link {
  background-color: #fff;
  color: #000;
  border-color: #000
}
body .editor-styles-wrapper .wp-block-button .wp-block-button__link:active,
body .editor-styles-wrapper .wp-block-button .wp-block-button__link:focus,
body .editor-styles-wrapper .wp-block-button .wp-block-button__link:hover {
  color: #fff;
  background-color: #000
}
.interface-interface-skeleton__editor {
  overflow: auto!important
}
.wp-block {
  max-width: 100%;
  font-family: var(--wp--preset--font-family--body)
}
.wp-block-group__inner-container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px
}
.editor-rich-text__tinymce.mce-content-body {
  line-height: 1.5
}
h1.editor-rich-text__tinymce.mce-content-body,
h2.editor-rich-text__tinymce.mce-content-body,
h3.editor-rich-text__tinymce.mce-content-body,
h4.editor-rich-text__tinymce.mce-content-body,
h5.editor-rich-text__tinymce.mce-content-body,
h6.editor-rich-text__tinymce.mce-content-body {
  line-height: 1.2
}
.edit-post-visual-editor,
.edit-post-visual-editor p,
.editor-post-title .editor-post-title__input,
.mce-content-body .editor-styles-wrapper {
  font-family: var(--wp--preset--font-family--body)
}
body .mce-menu-item.mce-menu-item-preview.mce-active .mce-ico,
body .mce-menu-item.mce-menu-item-preview.mce-active .mce-text {
  color: #fff
}
.editor-styles-wrapper ul.acf-checkbox-list,
.editor-styles-wrapper ul.acf-radio-list {
  margin-bottom: 0
}
.is-on-top {
  z-index: 20;
  position: relative
}
@media only screen and (min-width:768px) {
  .flex.reverse {
    flex-direction: row-reverse
  }
}
@media only screen and (max-width:1440px) {
  body .editor-styles-wrapper .h1,
  body .editor-styles-wrapper .preset1,
  body .editor-styles-wrapper h1 {
    font-size: 3.5rem
  }
  body .editor-styles-wrapper .h2,
  body .editor-styles-wrapper .preset2,
  body .editor-styles-wrapper h2 {
    font-size: 2.5rem
  }
  body .editor-styles-wrapper .h3,
  body .editor-styles-wrapper .preset3,
  body .editor-styles-wrapper h3 {
    font-size: 2rem
  }
  body .editor-styles-wrapper .h4,
  body .editor-styles-wrapper .preset4,
  body .editor-styles-wrapper h4 {
    font-size: 1.6875rem
  }
  body .editor-styles-wrapper .h5,
  body .editor-styles-wrapper .preset5,
  body .editor-styles-wrapper h5 {
    font-size: 1.25rem
  }
}
@media only screen and (max-width:1024px) {
  body .editor-styles-wrapper .h1,
  body .editor-styles-wrapper .preset1,
  body .editor-styles-wrapper h1 {
    font-size: 2.5rem
  }
  body .editor-styles-wrapper .h2,
  body .editor-styles-wrapper .preset2,
  body .editor-styles-wrapper h2 {
    font-size: 1.875rem
  }
  body .editor-styles-wrapper .h3,
  body .editor-styles-wrapper .preset3,
  body .editor-styles-wrapper h3 {
    font-size: 1.75rem
  }
  body .editor-styles-wrapper .h4,
  body .editor-styles-wrapper .preset4,
  body .editor-styles-wrapper h4 {
    font-size: 1.5rem
  }
  body .editor-styles-wrapper .h6,
  body .editor-styles-wrapper .preset6,
  body .editor-styles-wrapper h6 {
    font-size: 1rem
  }
  body .editor-styles-wrapper h1 br,
  body .editor-styles-wrapper h2 br,
  body .editor-styles-wrapper h3 br,
  body .editor-styles-wrapper h4 br,
  body .editor-styles-wrapper h5 br,
  body .editor-styles-wrapper h6 br {
    display: none
  }
}
@media only screen and (max-width:768px) {
  .flex {
    flex-direction: column
  }
  body .social-icons ul {
    justify-content: center
  }
}
@media only screen and (max-width:480px) {
  body .editor-styles-wrapper .gform_confirmation_wrapper .gform_confirmation_message,
  body .editor-styles-wrapper li,
  body .editor-styles-wrapper p {
    font-size: 1rem;
    line-height: 170%
  }
}