section > .wrapper {
  padding-left: 20px;
  padding-right: 20px
}
.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px
}
.grid {
  display: grid;
  grid-gap: 20px
}
.flex {
  display: flex
}
.flex.wrap {
  flex-wrap: wrap
}
.content-blocks > :not(.alignfull) {
  width: 100%;
  max-width: 1210px;
  margin-left: auto;
  margin-right: auto
}
.content-blocks > :not(.alignfull).alignwide {
  max-width: 1400px
}
body .editor-styles-wrapper .acf-block-preview .button,
body .editor-styles-wrapper .acf-block-preview .wp-block-button .wp-block-button__link,
body .editor-styles-wrapper .edit-post-visual-editor .button .button,
body .editor-styles-wrapper .edit-post-visual-editor .button .wp-block-button .wp-block-button__link,
body .editor-styles-wrapper .mce-content-body .button .button,
body .editor-styles-wrapper .mce-content-body .button .wp-block-button .wp-block-button__link,
body .editor-styles-wrapper .wp-block-button__link .button,
body .editor-styles-wrapper .wp-block-button__link .wp-block-button .wp-block-button__link,
body .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce .button .button,
body .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce .button .wp-block-button .wp-block-button__link,
body .editor-styles-wrapper .wp-block.editor-block .button .button,
body .editor-styles-wrapper .wp-block.editor-block .button .wp-block-button .wp-block-button__link {
  transition: .6s cubic-bezier(.23,1,.32,1);
  border: 2px solid transparent;
  cursor: pointer;
  display: inline-block;
  padding: 10px 40px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: baseline;
  font-size: 1.125em;
  line-height: 1.2;
  -webkit-appearance: none
}
.has-black-background-color {
  background-color: var(--black)
}
.has-black-color {
  color: var(--black)
}
.has-white-background-color {
  background-color: var(--white)
}
.has-white-color {
  color: var(--white)
}
:root {
  --black: #000000;
  --white: #ffffff
}
body .editor-styles-wrapper .h1,
body .editor-styles-wrapper .preset1,
body .editor-styles-wrapper h1 {
  font-size: 4.375rem;
  line-height: 110%;
  font-weight: 600
}
body .editor-styles-wrapper .h2,
body .editor-styles-wrapper .preset2,
body .editor-styles-wrapper h2 {
  font-size: 3.125rem;
  line-height: 125%;
  font-weight: 500
}
body .editor-styles-wrapper .h3,
body .editor-styles-wrapper .preset3,
body .editor-styles-wrapper h3 {
  font-size: 2.5rem;
  line-height: 130%;
  font-weight: 600
}
body .editor-styles-wrapper .h4,
body .editor-styles-wrapper .preset4,
body .editor-styles-wrapper h4 {
  font-size: 1.875rem;
  line-height: 130%
}
body .editor-styles-wrapper .h5,
body .editor-styles-wrapper .preset5,
body .editor-styles-wrapper h5 {
  font-size: 1.5rem;
  line-height: 140%
}
body .editor-styles-wrapper .h6,
body .editor-styles-wrapper .preset6,
body .editor-styles-wrapper h6 {
  font-size: 1.25rem;
  line-height: 150%
}
body .editor-styles-wrapper figure img {
  display: block;
  width: 100%
}
body .editor-styles-wrapper .button-wrap {
  margin-top: 30px
}
body .editor-styles-wrapper .social-icons ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex
}
body .editor-styles-wrapper .social-icons ul li:not(:last-child) {
  margin-right: 20px
}
body .editor-styles-wrapper .social-icons ul li a {
  transition: .6s cubic-bezier(.23,1,.32,1);
  font-size: 1.25em
}
body .editor-styles-wrapper h1,
body .editor-styles-wrapper h2,
body .editor-styles-wrapper h3,
body .editor-styles-wrapper h4,
body .editor-styles-wrapper h5,
body .editor-styles-wrapper h6 {
  margin: 0 0 15px
}
body .editor-styles-wrapper .acf-block-preview .button,
body .editor-styles-wrapper .edit-post-visual-editor .button .button,
body .editor-styles-wrapper .mce-content-body .button .button,
body .editor-styles-wrapper .wp-block-button__link .button,
body .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce .button .button,
body .editor-styles-wrapper .wp-block.editor-block .button .button {
  background-color: #fff;
  color: #000;
  border-color: #000
}
body .editor-styles-wrapper .acf-block-preview .button:active,
body .editor-styles-wrapper .acf-block-preview .button:focus,
body .editor-styles-wrapper .acf-block-preview .button:hover,
body .editor-styles-wrapper .edit-post-visual-editor .button .button:active,
body .editor-styles-wrapper .edit-post-visual-editor .button .button:focus,
body .editor-styles-wrapper .edit-post-visual-editor .button .button:hover,
body .editor-styles-wrapper .mce-content-body .button .button:active,
body .editor-styles-wrapper .mce-content-body .button .button:focus,
body .editor-styles-wrapper .mce-content-body .button .button:hover,
body .editor-styles-wrapper .wp-block-button__link .button:active,
body .editor-styles-wrapper .wp-block-button__link .button:focus,
body .editor-styles-wrapper .wp-block-button__link .button:hover,
body .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce .button .button:active,
body .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce .button .button:focus,
body .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce .button .button:hover,
body .editor-styles-wrapper .wp-block.editor-block .button .button:active,
body .editor-styles-wrapper .wp-block.editor-block .button .button:focus,
body .editor-styles-wrapper .wp-block.editor-block .button .button:hover {
  color: #fff;
  background-color: #000
}
body .editor-styles-wrapper .acf-block-preview .wp-block-button .wp-block-button__link,
body .editor-styles-wrapper .edit-post-visual-editor .button .wp-block-button .wp-block-button__link,
body .editor-styles-wrapper .mce-content-body .button .wp-block-button .wp-block-button__link,
body .editor-styles-wrapper .wp-block-button__link .wp-block-button .wp-block-button__link,
body .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce .button .wp-block-button .wp-block-button__link,
body .editor-styles-wrapper .wp-block.editor-block .button .wp-block-button .wp-block-button__link {
  background-color: #fff;
  color: #000;
  border-color: #000
}
body .editor-styles-wrapper .acf-block-preview .wp-block-button .wp-block-button__link:active,
body .editor-styles-wrapper .acf-block-preview .wp-block-button .wp-block-button__link:focus,
body .editor-styles-wrapper .acf-block-preview .wp-block-button .wp-block-button__link:hover,
body .editor-styles-wrapper .edit-post-visual-editor .button .wp-block-button .wp-block-button__link:active,
body .editor-styles-wrapper .edit-post-visual-editor .button .wp-block-button .wp-block-button__link:focus,
body .editor-styles-wrapper .edit-post-visual-editor .button .wp-block-button .wp-block-button__link:hover,
body .editor-styles-wrapper .mce-content-body .button .wp-block-button .wp-block-button__link:active,
body .editor-styles-wrapper .mce-content-body .button .wp-block-button .wp-block-button__link:focus,
body .editor-styles-wrapper .mce-content-body .button .wp-block-button .wp-block-button__link:hover,
body .editor-styles-wrapper .wp-block-button__link .wp-block-button .wp-block-button__link:active,
body .editor-styles-wrapper .wp-block-button__link .wp-block-button .wp-block-button__link:focus,
body .editor-styles-wrapper .wp-block-button__link .wp-block-button .wp-block-button__link:hover,
body .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce .button .wp-block-button .wp-block-button__link:active,
body .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce .button .wp-block-button .wp-block-button__link:focus,
body .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce .button .wp-block-button .wp-block-button__link:hover,
body .editor-styles-wrapper .wp-block.editor-block .button .wp-block-button .wp-block-button__link:active,
body .editor-styles-wrapper .wp-block.editor-block .button .wp-block-button .wp-block-button__link:focus,
body .editor-styles-wrapper .wp-block.editor-block .button .wp-block-button .wp-block-button__link:hover {
  color: #fff;
  background-color: #000
}
.interface-interface-skeleton__editor {
  overflow: auto!important
}
.wp-block {
  max-width: 100%
}
.wp-block-group__inner-container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px
}
.editor-rich-text__tinymce.mce-content-body {
  line-height: 1.5
}
h1.editor-rich-text__tinymce.mce-content-body,
h2.editor-rich-text__tinymce.mce-content-body,
h3.editor-rich-text__tinymce.mce-content-body,
h4.editor-rich-text__tinymce.mce-content-body,
h5.editor-rich-text__tinymce.mce-content-body,
h6.editor-rich-text__tinymce.mce-content-body {
  line-height: 1.2
}
body .mce-menu-item.mce-menu-item-preview.mce-active .mce-ico,
body .mce-menu-item.mce-menu-item-preview.mce-active .mce-text {
  color: #fff
}
.editor-styles-wrapper ul.acf-checkbox-list,
.editor-styles-wrapper ul.acf-radio-list {
  margin-bottom: 0
}
.is-on-top {
  z-index: 20;
  position: relative
}
@media only screen and (min-width:768px) {
  .flex.reverse {
    flex-direction: row-reverse
  }
}
@media only screen and (max-width:1366px) {
  body .editor-styles-wrapper .h1,
  body .editor-styles-wrapper .preset1,
  body .editor-styles-wrapper h1 {
    font-size: 3.5rem
  }
  body .editor-styles-wrapper .h2,
  body .editor-styles-wrapper .preset2,
  body .editor-styles-wrapper h2 {
    font-size: 2.5rem
  }
  body .editor-styles-wrapper .h3,
  body .editor-styles-wrapper .preset3,
  body .editor-styles-wrapper h3 {
    font-size: 2rem
  }
  body .editor-styles-wrapper .h4,
  body .editor-styles-wrapper .preset4,
  body .editor-styles-wrapper h4 {
    font-size: 1.6875rem
  }
  body .editor-styles-wrapper .h5,
  body .editor-styles-wrapper .preset5,
  body .editor-styles-wrapper h5 {
    font-size: 1.25rem
  }
}
@media only screen and (max-width:1024px) {
  body .editor-styles-wrapper .h1,
  body .editor-styles-wrapper .preset1,
  body .editor-styles-wrapper h1 {
    font-size: 2.5rem
  }
  body .editor-styles-wrapper .h2,
  body .editor-styles-wrapper .preset2,
  body .editor-styles-wrapper h2 {
    font-size: 1.875rem
  }
  body .editor-styles-wrapper .h3,
  body .editor-styles-wrapper .preset3,
  body .editor-styles-wrapper h3 {
    font-size: 1.75rem
  }
  body .editor-styles-wrapper .h4,
  body .editor-styles-wrapper .preset4,
  body .editor-styles-wrapper h4 {
    font-size: 1.5rem
  }
  body .editor-styles-wrapper .h6,
  body .editor-styles-wrapper .preset6,
  body .editor-styles-wrapper h6 {
    font-size: 1rem
  }
  body .editor-styles-wrapper h1 br,
  body .editor-styles-wrapper h2 br,
  body .editor-styles-wrapper h3 br,
  body .editor-styles-wrapper h4 br,
  body .editor-styles-wrapper h5 br,
  body .editor-styles-wrapper h6 br {
    display: none
  }
}
@media only screen and (max-width:768px) {
  .flex {
    flex-direction: column
  }
  body .editor-styles-wrapper .social-icons ul {
    justify-content: center
  }
}