/* Imports
========================================================= */
@import "core/variables/queries";
@import "core/layout/grid";
@import "core/variables/variables";
@import "core/variables/colors";
@import "core/typography/main";

/* Typography
========================================================= */

body .editor-styles-wrapper {

  @include font();
  @import "elements/**/*.scss";
  @import "layout/**/*.scss";

  h1.wp-block-post-title {
   font-size: 40px; 
  }
  
  .edit-post-visual-editor .button,
  .mce-content-body .button,
  .wp-block.editor-block .button,
  .wp-block-freeform.block-library-rich-text__tinymce .button, .wp-block-button__link,
  .acf-block-preview {
    .button {
     @include button;
   }
   .wp-block-button .wp-block-button__link {
    @include button;
  }
}
}


/* Additional Styles
========================================================= */

.interface-interface-skeleton__editor {
  overflow: auto !important;
}

.wp-block {
  max-width: 100%;
}

.wp-block-group__inner-container {
  max-width: 1210px;
  margin: 0 auto;
  padding:0 15px;
}

.editor-rich-text__tinymce.mce-content-body {
  line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
  &.editor-rich-text__tinymce.mce-content-body {
    line-height: 1.2;
  }
}
.mce-content-body .editor-styles-wrapper,
.edit-post-visual-editor,
.editor-post-title .editor-post-title__input, .edit-post-visual-editor p {
  @include font();
}
body .mce-menu-item.mce-menu-item-preview.mce-active .mce-text,
body .mce-menu-item.mce-menu-item-preview.mce-active .mce-ico {
  color: #fff;
}
body .mce-menu .mce-menu-item.mce-active.mce-menu-item-normal,
body .mce-menu .mce-menu-item.mce-active.mce-menu-item-preview,
body .mce-menu .mce-menu-item.mce-selected,
body .mce-menu .mce-menu-item:focus,
body .mce-menu .mce-menu-item:hover {
  //background-color: $teal !important;
}
.editor-styles-wrapper ul.acf-radio-list,
.editor-styles-wrapper ul.acf-checkbox-list {
  margin-bottom: 0;
}

.is-on-top {
  z-index: 20;
  position: relative;
}

/* Block Specific Overrides
========================================================= */
