@import "../../../assets/scss/core/variables/queries";
@import "../../../assets/scss/core/variables/variables";
@import "../../../assets/scss/core/typography/presets";

/* Custom Block Styles
========================================================= */
$class: '.cta-banner-row';

#{$class} {
  @include row-padding(150, 150, 100, 100);
  @include bg;

  #{$class}--content {

  }
  .inner {
    @include margin-center;
    max-width: 800px;
    text-align: center;
  }
  .buttons-wrap {
    justify-content: center;
  }
}
