/* Color VARs
========================================================= */

$black : #000000;
$white : #ffffff;

/* Colors Classes
========================================================= */

$colors: (
	"black" : $black,
  "white" : $white,
  );

@each $name, $hex in $colors {
	.has-#{$name}-background-color {
		background-color: $hex;
	}
	.has-#{$name}-color {
		color: $hex;
	}
}
