/* Color VARs
========================================================= */

$black:#000;

/* Colors Classes
========================================================= */

$colors: (
	"black":$black,
	);

@each $name, $hex in $colors {
	.has-#{$name}-background-color {
		background-color: $hex;
	}
	.has-#{$name}-color {
		color: $hex;
	}
}