/* Gravity Form Styles
========================================================= */

// Settings
$border-width-top: 2;
$border-width-bottom: 2;
$border-width-right: 2;
$border-width-left: 2;
$border-color: black;
$border-color-active: green;
$border-color-error: red;
$border-radius: 0;
$box-shadow: none;

@mixin formInputStyles {
  border-top-width: $border-width-top * 1px;
  border-bottom-width: $border-width-bottom * 1px;
  border-right-width: $border-width-right * 1px;
  border-left-width: $border-width-left * 1px;
  border-color: $border-color;
  border-radius: $border-radius * 1px;
  box-shadow: $box-shadow;
  &:hover,
  &:focus {
    border-color: $border-color-active;
  }
}

/* Gravity Form
========================================================= */
.gform_wrapper.gravity-theme {
  margin: 0;
  .gform_heading {
    display: none;
  }

  // Global
  form {
    input[type],
    select,
    textarea {
      @include trans($dur: 300);
      @include formInputStyles;
      display: inline-block;
      border-style: solid;
      padding: 10px 15px;
      font-family: inherit;
      font-size: 16px !important;
      line-height: normal;
      color: black;
      @include placeholder {
        color: black;
      }
      &:focus {
        border-color: $border-color-active;
      }
    }
    .gform-body {
      padding-top: 25px;
      padding-bottom: 25px;
      .gform_fields {
        grid-row-gap: 25px;
      }
      .gfield_label {
        font-weight: 400;
        display: block;
        margin-bottom: 6px;
        font-size: rem(14);
        .gfield_required {
          color: $border-color-error;
        }
      }

      // Fields
      .gfield--type-text {
      }
      .gfield--type-phone {
      }
      .gfield--type-email {
      }
      .gfield--type-select {
      }
      .gfield--type-textarea {
      }
      .gfield--type-address {
        .ginput_container_address {
          label {
            padding-top: 15px;
          }
        }
      }
      .gfield--type-checkbox,
      .gfield--type-radio {
        .ginput_container {
          margin-top: 10px;
        }
        .gchoice {
          margin-bottom: 10px;
        }
        input {
          margin-right: 7px;
        }
      }
      .gfield--type-checkbox {
      }
      .gfield--type-radio {
      }
      .gfield--type-website {
      }
      .gfield--type-date {
      }
      .gfield--type-fileupload {
      }
      .gfield--type-list {
      }
      .gfield--type-multiselect {
      }
      .gfield--type-number {
      }
      .gfield--type-consent {
        .ginput_container_consent {
          display: flex;
          align-items: center;
        }
        input {
          margin-right: 10px;
        }
      }
      .gfield--type-submit {
      }
    }

    // Footer
    .gform_footer {
      margin: 0;
      padding-top: 25px;
      padding-bottom: 25px;
      button {
        @include button;
        margin: 0;
      }
    }
  }
}

// Confirmation Message
.gform_confirmation_wrapper {
  .gform_confirmation_message {
    @extend %body-copy;
  }
}

/* Gravity Form Error Styles
========================================================= */
.gform_wrapper.gform_validation_error {
  .gform_validation_errors {
    margin-bottom: 25px;
    border-color: $border-color-error;
    padding: 25px 20px !important;
    border-top-width: $border-width-top * 1px !important;
    border-bottom-width: $border-width-bottom * 1px !important;
    border-right-width: $border-width-right * 1px !important;
    border-left-width: $border-width-left * 1px !important;
    border-color: $border-color-error !important;
    border-radius: $border-radius * 1px !important;
    box-shadow: $box-shadow !important;
    h2.gform_submission_error {
      @include font("body");
      font-size: rem(16);
      font-style: italic;
      color: $border-color-error;
      text-align: center;
    }
  }
  .gfield.gfield_error {
    input,
    select,
    textarea,
    legend,
    label {
      @include formInputStyles;
      color: $border-color-error;
      border-color: $border-color-error;
      @include placeholder {
        color: $border-color-error;
      }
    }
  }
  .validation_message,
  .gfield.gfield_error .gfield_description {
    display: none;
  }
}
