/* Mobile NAV
========================================================= */
$menu-background         : white;
$menu-background-open    : white;
$menu-dropdown-color     : white;

$toggle-resting-color    : black;
$toggle-active-color     : black;

$link-background         : white;
$link-color              : black;
$link-border-color       : lightgray;

$link-hover-background   : black;
$link-hover-color        : white;

$link-current-background : transparent;
$link-current-color      : red;


/* Initiate Mobile Nav
========================================================= */
.mobile-nav-wrap {
  display: none;
}

@include for-size(tablet) {
  header .brand,
  .desktop-nav-wrap {
    display: none;
  }
  header > .container {
    padding-left: 0;
    padding-right: 0;
  }
  
  main {
    margin-top: 60px;
  }
  
  .search-mobile {
    li {
      display: block;
      padding: 15px 25px;
      label {
        display: block;
        font-size: 1em;
        line-height: 1.2;
        font-weight: 600;
        margin-bottom: 5px;
      }
      input {
        border-color: black;
        display: block;
        width: 100%;
        border-radius: 4px;
        padding: 15px;
        background: url(assets/img/svg/icon-search.svg) 99%/31px 31px no-repeat;
      }
    }
  }

  .mobile-nav-wrap {
    position: fixed;
    display: flex;
    align-items: center;
    background: $menu-background;
    box-shadow: 0px 0px 5px rgba(black, 0.1);
    min-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3000;
    .mobile-nav-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .mobile-brand {
        @include trans($prop:opacity);
        img, svg {
          display: block;
          max-width: 100px;
        }
      }
      
      .navbar-toggle {
        padding: 0;
        cursor: pointer;
        background: none;
        border: none;
        z-index: 10000;
        .icon-bar {
          @include trans;
          display: block;
          background: $toggle-resting-color;
          border-radius: 0;
          height: 2px;
          width: 25px;
          margin-right: 0;
          margin-left: auto;
          &:not(:last-child) {
            margin-bottom: 7px;
          }
          &:first-child,
          &:last-child {
            @include trans;
            transform: translate(0);
            width: 19px;
          }
          &:nth-child(2):before,
          &:nth-child(2):after {
            @include trans;
            content: '';
            position: absolute;
            display: block;
            background-color: $toggle-active-color;
            border-radius: 0;
            height: 2px;
            top: 34%;
            left: 0;
            margin-bottom: 7px;
            transform: rotate(0deg);
            opacity: 0;
          }
        }
      }
    }
    
    .mobile-nav {
      background: $menu-dropdown-color;
      clear: both;
      display: none;
      left: 0;
      top: 60px;
      bottom: 0;
      position: fixed;
      width: 100%;
      height: 100vh;
      overflow: auto;
      z-index: 9999;

      // top level
      > ul {
        > li {
          border-bottom: 1px solid $link-border-color;
        }
      }

      // shared
      ul {
        @include list-reset;
        li {
          margin: 0;
          display: flex;
          flex: 1 0 100%;
          flex-wrap: wrap;
          background-color: $link-background;
          a {
            @include trans;
            display: inline-block;
            flex: 0 0 auto;
            color: $link-color;
            font-size: rem(20);
            line-height: 1.2;
            margin: 0;
            padding: 10px 20px;
            background-color: $link-background;
            &:hover, &:focus {
              background-color: $link-hover-background;
              color: $link-hover-color;
              ~ .expand {
                background-color: $link-hover-background;
                > svg path {
                  stroke: $link-hover-color;
                }
              }
            }
          }
          
          .expand {
            display: inline-flex;
            align-items: center;
            padding-left: 10px;
            padding-right: 10px;
            line-height: 1;
            &.sub-menu-open {
              svg {
                transform: rotate(90deg);
              }
            }
            &:hover, &:focus {
              svg path {
                stroke: $link-hover-color;
              }
            }
            svg {
              @include trans;
              width: 16px;
              height: 16px;
              path {
                @include trans;
                stroke: $link-color;
              }
            }
          }
          
          .close-sub {
            @include trans;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            padding: 30px;
            background: url(assets/img/svg/nav-arrow-left.svg) center no-repeat;
            background-color: transparent !important;
            z-index: 2000;
            &:hover, &:focus {
              transform: translateX(-5px);
            }
          }
          
          .sub-menu {
            @include list-reset;
            display: none;
            background-color: $link-background;
            border: none;
            width: 100%;
            height: 100%;
            z-index: 4000;
            &.sub-open {
              @include display(show);
              transform: translateX(0);
            }
            li {
              margin-left: 20px;
              a {
                font-size: rem(16);
              }
            }
          }
          &.current-menu-item,
          &.current-page-ancestor,
          &.current-menu-ancestor {
            > a {
              background-color: $link-current-background;
              color: $link-current-color;
            }
          }
          &.nav-button {
            > a:not(.expand) {
              // button styles here
            }
          }
        }
      }
    }
    
    &.open {
      background-color: $menu-background-open;
      .navbar-toggle {
        .icon-bar {
          @include trans;
          background: $toggle-active-color;
          width: 20px;
          &:first-of-type {
            transform: translate(0, 8px) rotate(46deg);
          }
          &:last-of-type {
            transform: translate(0, -10px) rotate(-45deg);
          }
          &:nth-of-type(2n) {
            background: transparent;
            opacity: 0;
            transform: scale(0);
          }
        }
      }
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  opacity: 0;
}
