
/* Figure Img
========================================================= */
figure {
  img {
    display: block;
    width: 100%;
  }
}

/* Buttons Wrap
========================================================= */
.buttons-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .button {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.button-wrap {
  padding-top: 30px;
}

/* Social Icons
========================================================= */
.social-icons {
  ul {
    @include list-reset;
    display: flex;
    @include for-size(tablet-sm) {
      justify-content: center;
    }
    li {
      &:not(:last-child) {
        margin-right: 20px;
      }
      a {
        @include trans;
        font-size: rem(20);
      }
    }
  }
}
