/* Buttons Wrap
========================================================= */
.buttons-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.button-wrap {
  padding-top: 30px;
}

/* Buttons
========================================================= */
.wp-block-button {
  .wp-block-button__link {
    @include button;
  }
}

/* Social Icons
========================================================= */
.social-icons {
  ul {
    @include list-reset;
    display: flex;
    @include for-size(tablet-sm) {
      justify-content: center;
    }
    li {
      &:not(:last-child) {
        margin-right: 20px;
      }
      a {
        @include trans;
        font-size: rem(20);
      }
    }
  }
}
