/* Buttons Wrap
========================================================= */
.buttons-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.button-wrap {
  padding-top: 30px;
}

/* Buttons
========================================================= */
.wp-block-button {
  .wp-block-button__link {
    @include button;
  }
}

/* Social Icons
========================================================= */
.social-icons {
  ul {
    @include list-reset;
    display: flex;
    gap: 15px;
    li {
      margin: 0;
      a {
        @include trans;
        font-size: rem(20);
      }
    }
  }
}

/* Smooth Scroll Links with offset
========================================================= */

html {
  scroll-behavior: smooth;
}

[id] {
  scroll-margin-block-start: 130px;
  @include for-size(tablet) {
    scroll-margin-block-start: 70px;
  }
}