/* Grid & Padding Sizes (values defined in theme.json)
========================================================= */
$width-content: var(--wp--style--global--content-size);
$width-wide: var(--wp--style--global--wide-size);
$padding-side: 20px;

/* Container
========================================================= */
@mixin content-container($width: $width-content) {
  max-width: calc($width + $padding-side * 2);
  margin: 0 auto;
  padding: 0 $padding-side;
}

/* Reusable Flex & Grid Classes
========================================================= */
.container {
  @include content-container;
}

.grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
}

.flex {
  display: flex;
  @include for-size(tablet-sm) {
    flex-direction: column;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.reverse {
    @include for-size(tablet-sm, up, offset) {
      flex-direction: row-reverse;
    }
  }
}

/* Global Hide Classes
========================================================= */
.hide-tablet-up {
  @include for-size(tablet, up, offset) {
    display: none;
  }
}
.hide-tablet {
  @include for-size(tablet) {
    display: none;
  }
}
.hide-mobile-up {
  @include for-size(tablet-sm, up, offset) {
    display: none;
  }
}
.hide-mobile {
  @include for-size(tablet-sm) {
    display: none;
  }
}

/* Gutenberg Width Fixes
========================================================= */
.content-blocks {
  > *:not(.alignfull) {
    width: 100%;
    max-width: var(--wp--style--global--content-size);
    margin-left: auto;
    margin-right: auto;
    &.alignwide {
      max-width: var(--wp--style--global--wide-size);
    }
  }
  > .alignfull {
    > .kt-row-column-wrap {
      padding-left: $padding-side;
      padding-right: $padding-side;
      &.kb-theme-content-width {
        padding-left: $padding-side;
        padding-right: $padding-side;
      }
    }
  }
}

/* Default Kadence Spacing
========================================================= */

// Force first column full width
.wp-block-kadence-column {
  &.full-width {
    grid-column: 1 / -1;
  }
}

// global
:root {
  --global-kb-spacing-xxs: 10px;
  --global-kb-spacing-xs: 20px;
  --global-kb-spacing-sm: 25px;
  --global-kb-spacing-md: 30px;
  --global-kb-spacing-lg: 40px;
  --global-kb-spacing-xl: 50px;
  --global-kb-spacing-xxl: 75px;
  --global-kb-spacing-3xl: 100px;
  --global-kb-spacing-4xl: 125px;
  --global-kb-spacing-5xl: 150px;

  // gutter (grid)
  --global-row-gutter-sm: 20px;
  --global-kb-gap-sm: 20px;
  --global-row-gutter-md: 40px;
  --global-kb-gap-md: 40px;
  --global-row-gutter-lg: 60px;
  --global-kb-gap-lg: 60px;
}
