/* Color VARs (values defined in theme.json)
========================================================= */

$blue : var(--wp--preset--color--blue);
$dark-red : var(--wp--preset--color--dark-red);
$black : var(--wp--preset--color--black);
$white : var(--wp--preset--color--white);
