@import "../../../assets/scss/core/variables/queries";
@import "../../../assets/scss/core/variables/variables";
@import "../../../assets/scss/core/typography/presets";

/* Custom Block Styles
========================================================= */
$class: '.text-image-row';

#{$class} {

  &.reverse {
    @include for-size(tablet-sm, up) {
      .wrapper {
        flex-direction: row-reverse;
      }
    }
  }
  .wrapper {
    grid-gap: 50px;
  }

  #{$class}--image {
    @include for-size(tablet-sm, up) {
      flex: 0 1 50%;
    }
  }

  #{$class}--content {
    @include for-size(tablet-sm, up) {
      flex: 0 1 50%;
    }
  }
}
