/* Body
========================================================= */
body {
  color: $black;
}

p, li {
  @extend %body-copy;
  margin-bottom: 20px;
}

blockquote {
  border-top: 2px solid $black;
  border-bottom: 2px solid $black;
  position: relative;
  &:before {
    content:'“';
    display: block;
    margin-bottom: 25px;
  }
  p {
    @include no-margin-last;
  }
}

/* Front End Only
========================================================= */

body {
  &:not(.wp-admin) {
    @include font;
  }
}

main {
  a {
    @include trans;
    color: red;
    &:hover, &:focus, &:active {
      color:purple;
    }
  }
}